.OutputWrapper {
    font-size:20px;
    
}

.MatchWrapper {
    background-color:#CCC;
    border: 1px solid black;
    border-radius:5px;
    padding:5px;
    margin:10px;
    display:inline-block;
}

body{
    background-color: #E6EAEA;
}

.Checked {
    opacity: .50;
    border: 1px solid white;
    text-decoration:line-through;

}